html,body{
    margin: 0px;
}
#navi{
    background-color: rgb(44, 62, 80);
    height: 60px;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
}
li{
            display: inline;
            padding-right: 30px;
            font-size: 15px;
            font-family: sans-serif;
            font-weight: 100px;
}
#navi2{
    margin-left: 1100px;
}